# Data Science Tools and Ecosystem

This notebook will introduce the basic concepts of data science, including essential languages, libraries, and tools for data analysis.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java ,etc...

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas 
5. Matplotlib
6. Keras
7. PyTorch,etc..;

| Data Science Tools |
|--------------------|
| Jupyter            |
| GitHub             |
| Tableau            |
| MySQL              |
| Apache Hadoop      |
| Excel              |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a common arithmetic example for multiplying and then adding integers (3*4)+5

In [8]:
(3*4)+5

17

This will convert 200 minutes to 60 hours diving 200/60

In [9]:
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data Science
* List popular libraries for Data Science
* Introduce Data Science tools
* Demonstrate basic arithmetic expressions in Python
* Learn to share notebooks via GitHub

## Author
Adrian Turin Torres